<div id="signupbox" class="mainbox col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><%= cer_label(params[:c_type]) %></div>
    </div>
    <div class="panel-body">

      <div class="container-page">
        <div class="col-md-12">

          <div class="form-group col-lg-12">
            <label>Username</label>
            <input type="" name="" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" name="" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Repeat Password</label>
            <input type="password" name="" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Email Address</label>
            <input type="" name="" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Repeat Email Address</label>
            <input type="" name="" class="form-control" id="" value="">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>