<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>অন্যান্য সনদের আবেদনকারী</h1>

  <div class="row">
    <%= form_tag(others_certificates_path, method: :get) do %>
        <div class="form-group col-md-10">
          <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "ট্র্যাকিং নম্বরটি প্রবেশ করুন" %>
        </div>
        <div class="form-group col-md-2">
          <%= submit_tag 'খোঁজ করুন', class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>

</div>