<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>রশিদ নং</th>
    <th> জমার তারিখ</th>
    <th>প্রদানকারী</th>
    <th>বাবদ</th>
    <th>জমার পরিমাণ</th>
    <th>জরিমানা</th>
    <th>বকেয়া</th>
    <th>ভ্যাট</th>
    <th>মোট</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
</tbody>
</table>
