
<% if @books_type == 'in' %>
    <h2>প্রাপ্তি</h2>
    <div id="results">
      <%= render 'in' %>
    </div>
<% else %>
    <h2>Prodan</h2>
    <div id="results">
      <%= render 'out' %>
    </div>
<% end %>