<div class="row">
  <div class="col-xs-12">

    <% if @citizen.active? %>
        <%= link_to 'Print Certificate', citizen_path(@citizen, format: 'pdf'), class: "btn btn-success" %>
        <%= link_to 'Back', citizens_path, class: "btn btn-primary" %>
    <% end %>

    <% if @citizen.pending? %>
        <%= link_to 'Activate Citizen', activate_citizen_citizen_path(@citizen), class: "btn btn-info btn-default" %>
        <%= link_to 'Back', requests_citizens_path, class: "btn btn-primary" %>
    <% end %>


  </div>
</div>