<div class="col-lg-12 table-responsive nested-fields">
  <table class="table table-bordered" id="tab_logic">
    <thead>
    <tr>
      <th class="text-center">নাম</th>
      <th class="text-center">সম্পর্ক</th>
      <th class="text-center">মন্তব্য</th>
      <th></th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <%= f.text_field :name, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :relation, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :comment, class: "form-control" %>
      </td>
      <td>
        <%= link_to_remove_association '', f, class: 'btn btn-danger glyphicon glyphicon-remove row-remove' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>