<div class="col-lg-12 table-responsive">
  <table class="table table-bordered table-hover table-sortable" id="tab_logic">
    <thead>
    <tr >
      <th class="text-center">নাম</th>
      <th class="text-center">সম্পর্ক</th>
      <th class="text-center">মন্তব্য</th>
      <th></th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <%= f.text_field :name, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :relation, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :comment, class: "form-control" %>
      </td>
      <td>
        <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
      </td>
    </tr>
    </tbody>
  </table>
  <a id="add_row" class="btn btn-primary pull-right">নতুন ওয়ারিশ</a>
</div>