<div class="col-lg-12 table-responsive">
  <table class="table table-bordered table-hover table-sortable" id="tab_logic">
    <thead>
    <tr >
      <th class="text-center">নাম</th>
      <th class="text-center">সম্পর্ক</th>
      <th class="text-center">বয়স</th>
      <th class="text-center">Option</th>
      <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <%= f.text_field :name, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :relation, class: "form-control" %>
      </td>
      <td>
        <%= f.text_field :age, class: "form-control" %>
      </td>
      <td>
        <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
      </td>
    </tr>
    </tbody>
  </table>
  <a id="add_row" class="btn btn-default pull-right">Add Row</a>
</div>