<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>নাগরিক সমূহ</h1>
  <%= render 'citizens', citizens: @citizens %>
  <% if can? :create, Citizen %>
      <%= link_to 'New', new_citizen_path, class: "btn btn-primary" %>
  <% end %>
</div>