<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>নাগরিক সমূহ</h1>
  <table id="citizens" class="table table-striped" data-source="<%= citizens_url(format: "json") %>">
    <thead>
    <tr>
      <th>NID</th>
      <th>Birth Id</th>
      <th>Name</th>
      <th>Fathers Name</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <%= link_to 'New', new_citizen_path, class: "btn btn-primary" %>
</div>