<div class="wrapeer">
  <div class="header">
    <p>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
    <p>(স্থানীয় সরকার বিভাগ)</p>
    <img src="static/images/logo.png" />
    <h1> <span>৪</span> নং <span>গঙ্গাচড়া</span> ইউনিয়ন পরিষদ</h1>
    <p>উপজেলাঃ <span>গঙ্গাচড়া</span>
      জেলাঃ <span >রংপুর</span></p>
    <h2> নাগরিক সনদ পত্র </h2>
  </div>
  <div class="main-body">
    <p>আমি এই মর্মে সনদ পত্র প্রদান করতেছি যে <span>আবুল হাসান </span><br/>
      পিতা / স্বামীঃ <span> মোঃ করিম হাসান </span> &nbsp; মাতাঃ <span> ফাতেমা বেগম </span> <br/>
      গ্রামঃ <span> গঙ্গা চড়া </span> &nbsp; ওয়ার্ড নংঃ<span >১২</span> ডাকঘর <span>গঙ্গা চড়া </span> <br/>
      উপজেলাঃ গঙ্গাচড়া জেলাঃ রংপুর । তাহাকে আমি ব্যক্তিগতভাবে চিনি । তিনি আমার ইউনিয়ন এর স্থায়ী বাসিন্দা ও জন্মসূত্রে বাংলাদেশের নাগরিক । <br/><br/>
      &nbsp;&nbsp;&nbsp;আমি যতদূর জানি তিনি উন্নত ও নৈতিক চরিত্রের  অধকারী । তিনি সমাজের শান্তি-শৃঙ্খলা ভঙ্গ কিংবা রাষ্ট্র বিরোধী  কোনো কার্যকলাপে অংশগ্রহণ করে নাই । </p>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  আমি তাহার জীবনের সর্বাঙ্গীন উন্নতি কামনা করি । </h4><br/>
    <div class="left">
      <p>জাতীয় পরিচয়পত্র নম্বর</p>
      <p>জন্ম নিবন্ধন নম্বর</p>
    </div>
    <div class="right">
      <div class="number_box">
        <p>74320985782135
        </p>
      </div>
      <div class="number_box">
        <p>74320985782135
        </p>
      </div>
    </div>
    <div class="signature">
      <p style="text-align:center">চেয়ারম্যান</p>
      <p>৪ নং গঙ্গাচড়া ইউনিয়ন পরিষদ</p>
    </div>
  </div>
</div>