<style>

  /* ======================================
   *  02. typography
  /* ====================================== */
  /*.row {*/
  /*padding:0;*/
  /*margin:0;*/
  /*}*/

  /*[class*='col-'] {*/
  /*padding:0;*/
  /*margin:0;*/
  /*}*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  a,
  a:visited,
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* ======================================
   *  03. custom padding, margin
  /* ====================================== */

  .wrapper-content {
    border: 5px double #666;
    padding: 1px;
    background: url('<%= Rails.root.join('public','images','bg-3-opacity.png') %>') no-repeat center 39%;
    position: relative;
    overflow: hidden;
  }

  .wrapper-content-inner {
    border: 1px solid #666;
  }

  .wrapper-content:after {
    opacity: 0.6;
  }

  .logo img {
    margin: auto;
  }

  .logo {

  }

  .top-area {
    text-align: center;
  }

  .top-area h1 {
    font-size: 22px;
    line-height: 40px;

  }

  .top-area h3 {
    font-weight: 400;

  }

  .top-area h4 {
    text-decoration: underline;
  }

  .main-area {

  }

  .main-area h5 {

    margin-bottom: 15px;
  }

  .main-area ul li {
    margin-bottom: 7px;
  }

  .bottom-area {
    margin-top: 40px;
  }

  .bottom-area-left strong {
    text-decoration: underline;
    font-size: 15px;
  }

  .bottom-area-left {

  }

  .bottom-area-left ol {
    line-height: 19px;
  }

  .bottom-area-left ol li {
    font-size: 11px;
    font-weight: 600;

  }

  .bottom-area-left ol ol {
    list-style: none;

  }

  .bottom-area-right ul li {
    font-weight: 600;
    font-size: 12px;
  }

  .footer {
    text-align: center;

  }

  .footer p {
    text-decoration: underline;
  }

  body {
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-size: 18px;
    width: 100%;
    background: #FFFFFF;
  }

  .wrapper3 {
    width: 100%;
    height: 100%;
  }

  .container {
    padding: 0;
    margin: 0;
  }

</style>

<!--========================================================
                        MAIN AREA
=========================================================-->
<div class="wrapper3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper-content">
          <div class="wrapper-content-inner">

            <div class="row test" >
              <div class="col-xs-4 col-xs-offset-4">
                <div class="logo">
                  <%= image_tag wicked_pdf_asset_base64('bdgovt.png')%>
                </div>
              </div>
            </div>


            <div class="top-area">
              <h1>৪ নং গঙ্গাছড়া ইউনিওন পরিষদ</h1>
              <h4>৪ নং গঙ্গাছড়া ইউনিওন পরিষদ</h4>
              <h3>নাগরিকত্ব ও চারিত্রিক সনদপত্র</h3>
              <h4>নাগরিকত্ব নং: ১২৩৪৫৫</h4>
            </div>
            <div class="main-area">
              <p>আমি এই মর্মে সনদ প্রদান করিতেছি যে,<strong> মোঃ ফারহান ফারুক </strong> - আমার ইউনিয়নের স্থায়ী
                বাসিন্দা এবং জন্মসূত্রে বাংলাদেশের নাগরিক । তাহাকে আমি ব্যক্তিগতভাবে চিনি ।</p>
              <h5>নাগরিকের বিবরণ:</h5>
              <ul>
                <li>নামঃ <strong>মোঃ ফারহান ফারুক</strong></li>
                <li>বাবার নামঃ <strong> আবদুল হামিদ</strong></li>
                <li>মায়ের নামঃ <strong>ফরিদা</strong></li>
                <li>ঠিকানাঃ ওয়ার্ড নং- ০৩, গ্রাম- আরাযিনিয়ামত, ডাকঘর- বুরিরহাত ফার্ম</li>
                <li>উপজেলাঃ গঙ্গাছড়া</li>
                <li>জেলাঃ রংপুর</li>
                <li>জাতীয় পরিচয়পত্র নম্বরঃ ১২৩৪৫৬৭৮</li>
              </ul>
              <p>ইস্যুর তারিখঃ: December 19, 2013</p>
            </div>

            <p> আমার জানামতে তিনি উন্নত ও নৈতিক চরিত্রের অধকারী । তিনি সমাজের শান্তি-শৃঙ্খলা ভঙ্গ কিংবা রাষ্ট্র
              বিরোধী কোনো কার্যকলাপে অংশগ্রহণ করে নাই ।</p>

            <h4>আমি তাহার জীবনের সর্বাঙ্গীন উন্নতি কামনা করি</h4>

            <div class="footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
