<style>

  /* ======================================
   *  02. typography
  /* ====================================== */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  a,
  a:visited,
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  /* ======================================
   *  03. custom padding, margin
  /* ====================================== */

  .wrapper-content {
    border: 5px double #666;
    padding: 1px;
    margin: 50px 0;
    background: url('<%= Rails.root.join('public','images','bd_png.png') %>') no-repeat center 39%;
    position: relative;
    overflow: hidden;
  }
  .wrapper-content-inner {
    border: 1px solid #666;
    padding: 50px 20px;
  }
  .wrapper-content:after{
    opacity: 0.6;
  }

  .logo img {
    margin: auto;
  }

  .logo {
    margin-bottom: 20px;
  }

  .top-area {
    text-align: center;
  }

  .top-area h1 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 50px;
  }

  .top-area h3 {
    font-weight: 400;
    margin-bottom: 20px;
  }

  .top-area h4 {
    text-decoration: underline;
  }

  .main-area {
    margin-top: 40px;
  }

  .main-area h5 {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .main-area ul li {
    margin-bottom: 7px;
  }

  .bottom-area {
    margin-top: 40px;
  }

  .bottom-area-left strong {
    text-decoration: underline;
    font-size: 15px;
  }

  .bottom-area-left {
    margin-top: 100px;
  }

  .bottom-area-left ol {
    margin-left: -26px;
    line-height: 19px;
  }

  .bottom-area-left ol li {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .bottom-area-left ol ol {
    list-style: none;
    margin-top: 10px;
  }

  .bottom-area-right ul li {
    font-weight: 600;
    font-size: 12px;
  }

  .bottom-area-right {
    margin-top: 100px;
  }

  .footer {
    text-align: center;
    margin-top: 30px;
  }

  .footer p {
    text-decoration: underline;
  }

  * {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
    width: 100%;
    background: #FFFFFF;
  }

</style>

<!--========================================================
                        MAIN AREA
=========================================================-->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper-content">
          <div class="wrapper-content-inner">
            <div class="logo">
              <img src="assets/img/logo.png" alt="..." class="img-responsive">
            </div>
            <div class="top-area">
              <h1>Government of the People's Republic of Bangladesh <br> National Board of Revenue</h1>
              <h3>Taxpayer's Identification Number (TIN) Certificate</h3>
              <h4>TIN : 150487299836</h4>
            </div>
            <div class="main-area">
              <p>This is to Certify that <strong>Md. Farhan Faruque</strong> is a Registered Taxpayer of National Board of Revenue under the jurisdiction of <strong>Taxes Circle-146 (Salary), </strong>Taxes Zone <strong>07, Dhaka.</strong></p>
              <h5>Taxpayer's Particulars:</h5>
              <ul>
                <li>1) Name: <strong>Md. Farhan Faruque</strong></li>
                <li>2) Father's Name: <strong>Md. Abdul Hamid</strong></li>
                <li>3) Mother's Name: <strong>Farida Begum</strong></li>
                <li>4) Current Address: <strong>House#37,Road#15,Sector#13, Uttara, Dhaka, PO: 1230</strong></li>
                <li>5) Previous TIN: <strong>Not Applicable</strong></li>
                <li>6) Status: <strong>Individual</strong></li>
              </ul>
              <p>Date: December 19, 2013</p>
            </div>

            <div class="footer">
              <p>N.B: This is a system generated certificate and requires no manual signature</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
