<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>ট্রেড লাইসেন্স সমূহ</h1>
  <div class="row">
    <div class="form-group col-md-12">
      <% if can? :create, TradeOrganization %>
          <%= link_to "নতুন আবেদন", new_trade_organization_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <table id="trade_organizations_table" class="table table-bordered table-striped" data-source="<%= trade_organizations_url(format: "json") %>">
    <thead>
    <tr>
      <th>লাইসেন্স নং</th>
      <th>প্রতিষ্ঠানের নাম</th>
      <th>সত্ত্বাধিকারীর নাম</th>
      <th>ব্যবসার স্থান</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>