<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nopadding"><p>My Name is Farhan</p>
      </div>
      <div class="col-md-12 nopadding">My Name is Farhan
      </div>
    </div>
  </div>
</div>