<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="govt text-center"> গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
        <p class="govt text-center"> (স্থানীয় সরকার বিভাগ)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <img class="image-replacement pull-right logo" src="http://akamaicovers.oreilly.com/images/9781593272869/cat.gif" />
      </div>
      <div class="col-xs-9">
        <p class="sarker">৪ নং গঙ্গাচড়া ইউনিয়ন পরিষদ</p>
        <p>উপজেলাঃ গঙ্গাচড়া জেলাঃ  রংপুর</p>
      </div>
    </div>

    <div class="row line"></div>
    <div class="row ">
      <div class="col-xs-12">
        <p class="sarker text-center">ট্রেড লাইসেন্স</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="col-xs-7">
          <p class="pull-right">লাইসেন্স নং</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-4">
          <p class="pull-left">ট্রেড লাইসেন্স</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="col-xs-5">
          <p class="pull-right">অর্থ বছর</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p class="pull-left">২০১৫-২০১৬</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="col-xs-7">
          <p class="pull-right">লাইসেন্স ইস্যু তারিখ</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-4">
          <p class="pull-left">ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>স্থানীয় সরকার (ইউনিয়ন পরিষদ ) আইন , ২০০৯ এর ৬৬ ধারার ক্ষমতা বলে প্রণীত আদর্শ কর তফসিল, ২০১৩ এর ১৭ ধারা অনুসারে নিম্নবর্ণিত প্রতিষ্ঠান/ব্যক্তির অনূকুলে এই লাইসেন্স ইস্যু করা হলো ।</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>প্রতিষ্ঠানের  নাম</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>স্বত্ত্বাধিকারীর নাম </p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>পিতা / স্বামীর নাম  </p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>মাতার নাম </p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>স্বত্ত্বাধিকারীর ঠিকানা </p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>ব্যবসা/বৃত্তি পেশা পরিচালনার ঠিকানা</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>ব্যবসা / বৃত্তি /  পেশার ধরণ</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>লাইসেন্স ফি/ নবায়ন ফি </p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-5">
          <p>লাইসেন্সের মেয়াদ</p>
        </div>
        <div class="col-xs-1">
          <p>:</p>
        </div>
        <div class="col-xs-6">
          <p>ট্রেড লাইসেন্স</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>স্বত্ত্বাধিকারীকে তার ব্যবসা / বৃত্তি /  পেশা অত্র ইউনিয়ন সীমার মধ্যে চালিয়ে যাওয়ার জন্য এই লাইসেন্স প্রদান করা হলো ।</p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-xs-6">
        <div class="pull-left">
          <p class="text-center">সচিব</p>
          <p>৪ নং গঙ্গাচড়া ইউনিয়ন পরিষদ</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <p class="text-center">চেয়ারম্যান</p>
          <p>৪ নং গঙ্গাচড়া ইউনিয়ন পরিষদ</p>
        </div>
      </div>

    </div>

  </div>
</div>