<div class="wrapper">
  <table class="table">
    <tr>
      <td class="logo">
        <%= wicked_pdf_image_tag('logo1.png',align:"center")  %>
      </td>
    </tr>
    <tr>
      <td class="title">
        <p class="govt"> গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
        <p class="govt"> (স্থানীয় সরকার বিভাগ) </p>
        <h1>৪ নং আলমবিদিতর ইউনিয়ন পরিষদ</h1>
        <p style="color: #DA74AB">উপজেলাঃ গঙ্গাচড়া জেলাঃ  রংপুর</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="line"></div>
      </td>
    </tr>
    <tr>
      <td class="trade">
        <h3>ট্রেড লাইসেন্স </h3>
      </td>
    </tr>
  </table>
</div>