.second_wrapper{
    height: 1000px;
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
}

.logo2{
    position: absolute;
    width: 300px;
    margin: 0 auto;
    left: 43%;
    top: 5%;
}
.logo2 img{
    width: 150px;
    height: 100px;
}
.title_citizen{
    width: 70%;
    margin: 0 auto;
    left: 20%;
    text-align: center;
    position: absolute;
    top: 15%;
}
.title_citizen p{
    line-height: 3px;
}
.title_citizen h1{
    line-height: 15px;
    color: #0958AD;
}
.full_line_second{
    width: 100%;
    position: absolute;
    top: 35%;

}
.full_line_second span{
    border-bottom: 1px dashed#000;
}

.main_text3_cit{
    width: 90%;
    position: absolute;
    top: 62%;
    left: 15%;
}
.main_text3_cit h3{
    font-size: 22px;
    font-weight: normal;
}

.box{
    top: 75%;
    position: absolute;

    width: 60%;
}
.box2{
    top: 82%;
    position: absolute;
    width: 60%;
}
.numberbox{
    width: 190px;
    border: 1px solid#000;
    height: 50px;
    font-size: 17px;
    margin-left: 3%;
}
.numberbox p{
    padding-top: -70px;
    text-align: center;
}
.singlefooter{
    position: absolute;
    top: 75%;
    left: 65%;
}
.footer_slogan{
    position: absolute;
    top: 95%;
    width: 100%;
    border-top: 1px solid#000;

}
.footer_text{
    width: 90%;
    left: 10%;
}