@import "bootstrap-sprockets";
@import 'bootstrap';


.wrapper{
  width: 100%;
  height:  1095px;

  margin: 0 auto;

}

h2 {
  color: #155aa7;
  margin:0;
}
.sub {
  color:#d974ac;
}
p {
  margin-bottom:15px;
}
.govt {
  margin-bottom:5px;
}
.sarker{
  font-size: 30px;
  color:#000;
  margin:20px 0;
}
.trade-label:after {
  content: ':';
  position: absolute;
  right: 0;
  top: 0;
}
.logo{
  width:100px;
  height:100px;
  display:block;
  float:left;
}
.line{
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background: #648CE7;
}
.trade-footer {
  margin-top:80px;
}
.trade-footer p {
  margin-bottom:5px;
}

//@media (min-width: 1200px) {
//  .container {
//    width: 970px;
//  }
//}

//@media (min-width: 992px) {
//  .top-header {
//    background-position:170px 30px;
//  }
//}
//
