@import "bootstrap-sprockets";
@import 'bootstrap';


.wrapper{
  width: 100%;
  height:  1095px;
  margin: 0 auto;
}

h2 {
  color: #155aa7;
  margin:0;
}
.sub {
  color:#d974ac;
}
p {
  margin-bottom:15px;

}
.govt {
  font-size: 15px;
  margin-bottom:5px;
}
.sarker{
  font-size: 26px;
  color:#000;
  margin:20px 0;
}
.trade-label:after {
  content: ':';
  position: absolute;
  right: 0;
  top: 0;
}
.logo{
  width:100px;
  height:100px;
  display:block;
  float:left;
}
.line{
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background: #648CE7;
}
.trade-footer {
  margin-top:80px;
}
.trade-footer p {
  margin-bottom:5px;
}
.nopadding{
  padding: 0;
  margin: 0;
}
.onlyleft{
  padding: 0;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.onlyright{
  padding: 0;
  margin-left: 0;  margin-top: 0;  margin-bottom: 0;
}
.onlytop{
  padding: 0;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.onlybottom{
  padding: 0;
  margin-right: 0;  margin-top: 0;  margin-left: 0;
}
.dotted{
  border-bottom: 1px dashed#000;
}
.nmbox{
  border: 1px solid#000;
  height: 30px;
  font-size: 17px;
}
//@media (min-width: 1200px) {
//  .container {
//    width: 970px;
//  }
//}

//@media (min-width: 992px) {
//  .top-header {
//    background-position:170px 30px;
//  }
//}
//
