body{

    font-family: 'SolaimanLipi';
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background-size: cover;
    background-position: fixed;
    font-size: 20px;

}

.wrapper{
    height: 1100px;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;

    font-size: 20px;
}
.logo{
    position: absolute;
    width: 300px;
    margin: 0 auto;
    left: 43%;
}

.logo img{
    width: 150px;
    height: 100px;
    position: relative;
}

.title{
    width: 60%;
    margin: 0 auto;
    left: 20%;
    text-align: center;
    position: absolute;
    top: 15%;
}
.title p{
    line-height: 3px;
}
.title h1{
    line-height: 15px;
    color: #0958AD;
}

.line{
    width: 100%;
    height: 1px;
    background: #648CE7;
    position: absolute;
    top: 28%
}
.trade{
    width: 60%;
    margin: 0 auto;
    left: 20%;
    text-align: center;
    position: absolute;
    top: 27%
}
.trade h3{
    font-size: 30px;
    color: #000;
}

.full{
    position: absolute;
    top: 35%;
    width: 100%;
}
.first_section{
    position: relative;
    float: left;
    width: 40%;
    left: 10%;
    text-align:left;
}
.first_section p{
    line-height: 1px;
    font-size: 20px;
}
.second_section{
    width: 40%;
    left: 60%;
    position: relative;
    text-align:left;
}
.second_section p{
    line-height: 1px;
}
.full_line{
    width: 80%;
    position: absolute;
    top: 43%;
    left: 10%;
}
.main_text{
    width: 80%;
    position: absolute;
    top: 52%;
    left: 10%;
}
.main_text p{
    line-height: 1px;
}

.main_text2{
    width: 80%;
    position: absolute;
    top: 88%;
    left: 10%;
}
.footer{
    position: absolute;
    width: 80%;
    top: 95%;
    left: 10%;
}