@import "bootstrap-sprockets";
@import 'bootstrap';

.wrapper{
  height: 1115px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #CCCCCC;
}
.container {
  padding:0;
  margin:0;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}