
body{
    font-family: 'SolaimanLipi';
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-position: fixed;
    font-size: 20px;
    background: #FFFDD0;
}
.wrapper{
    height: 1095px;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    background: #FFFDD0;
    font-size: 20px;
}

.logo{
    position: absolute;
    width: 300px;
    margin: 0 auto;
    left: 2%;
    top: 2%;
}
.logo img{
    width: 200px;
    height: 125px;
    position: relative;

}

.title{
    width: 80%;
    margin: 0 auto;
    left: 10%;
    text-align: center;
    position: absolute;

}
.title p{
    line-height: 6px;
    font-size: 20px;
}
p.govt{
    line-height: 6px;
    font-size: 16px;
}
.title h1{
    line-height: 12px;
    color: #0958AD;
    font-size: 28px;
}
.line{
    width: 100%;
    height: 1px;
    background: #648CE7;
    position: absolute;
    top: 17%;
}
.trade{
    width: 60%;
    margin: 0 auto;
    left: 20%;
    text-align: center;
    position: absolute;
    top: 15%
}
.trade h3{
    font-size: 45px;
    color: #000;
}
