<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>ব্যয়সমূহ</h1>

  <div class="row">
    <div class="form-group col-md-12">
      <% if can? :create, Expense %>
          <%= link_to "নতুন ব্যয়", new_expense_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <table id="expenses_table" class="table table-bordered table-striped" data-source="<%= expenses_path(format: "json") %>">
    <thead>
    <tr>
      <th>Voucher</th>
      <th>Created At</th>
      <th>Expense</th>
      <th>Bank Info</th>
      <th>Category</th>
      <th>Note</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>