<div class="form-group col-lg-12">
  <h4 class="text-center"><u>Address</u></h4>
</div>

<div class="form-group col-lg-6">
  <label>গ্রাম/মহল্লা</label>
  <input type="" name="" class="form-control" id="" value="">
</div>

<div class="form-group col-lg-6">
  <label>রোড/ব্লক/সেক্টর</label>
  <input type="" name="" class="form-control" id="" value="">
</div>

<div class="form-group col-lg-6">
  <label>ওয়ার্ড নং</label>
  <input type="" name="" class="form-control" id="" value="">
</div>
<div class="form-group col-lg-6">
  <label>পোষ্ট অফিস</label>
  <input type="" name="" class="form-control" id="" value="">
</div>
<div class="form-group col-lg-6">
  <label>উপজেলা/থানা</label>
  <input type="" name="" class="form-control" id="" value="">
</div>

<div class="form-group col-lg-6">
  <label>জেলা</label>
  <input type="" name="" class="form-control" id="" value="">
</div>
