<div class="form-group col-lg-12">
  <label>নামঃ</label>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group col-lg-6">
  <label>পিতার নাম</label>
  <%= f.text_field :fathers_name, class: "form-control" %>
</div>

<div class="form-group col-lg-6">
  <label>মাতার নাম</label>
  <%= f.text_field :mothers_name, class: "form-control" %>
</div>

<%= f.hidden_field :lang %>
