<div class="col-md-12">
  <h4 class="text-center"><u>যোগাযোগের ঠিকানা</u></h4>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4">
        <label>মোবাইল:</label>
      </div>
      <div class="col-xs-8">
        <p><%= address.mobile_no %></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4  control-label">
        <label>ইমেইল:</label>
      </div>
      <div class="col-xs-8">
        <p><%= address.email %></p>
      </div>
    </div>
  </div>
</div>
